[2019-08-29 03:10] SchrodingersGat opened #7 "Token Auth seems to be broken"
While a token can be successfully retrieved with a valid login, trying to access the API using the token is returning 401.

![image](https://user-images.githubusercontent.com/10080325/63907328-58610280-ca5e-11e9-8216-dd43facbf91b.png)

[2020-05-02 22:50] SchrodingersGat commented on #7
WOrking now

[2020-05-02 22:50] #7 closed

[2020-05-11 14:29] SchrodingersGat opened #13 "TODO - Unit testing"
Add more comprehensive unit-testing as part of CI

- Download and install InvenTree instance
- Setup some test data
- Run unit tests on the API and ensure that it works!

### Tests
- [x] Query database server `/api/` endpoint (to check the server is present)
- [x] Simple authentication using username / password
- [x] Token authentication
- [x] Read data successfully (e.g. list parts)
- [x] Cannot

[2020-05-12 21:56] rrakso opened #17 "Add some info, when login/pass is incorrect (exception)"
![image](https://user-images.githubusercontent.com/23143274/81749539-1c66b400-94ac-11ea-82fb-f7b6b6687085.png)

[2020-05-12 22:45] rrakso opened #18 "Cannot authenticate using python inventree library (and username/password, not token login)"
`Basic auth` is used in library
![image](https://user-images.githubusercontent.com/23143274/81749952-e675ff80-94ac-11ea-938d-17b485a64250.png)
but it doesn't work, also in file `api.py` at line [79](https://github.com/inventree/inventree-python/blob/master/inventree/api.py#L79) is
` reply = requests.get(token_url, auth=self.auth)` but it should be ` reply = requests.post(token_url, auth=self.auth)

[2020-05-12 22:48] #17 closed

[2020-05-12 22:57] SchrodingersGat commented on #18
@rrakso you may need to update InvenTree - the API for token authentication was changed slightly since the version you are on.

[2020-05-17 04:24] SchrodingersGat opened #22 "Remove class FILTERS variable"
Should not limit the filters to what is described in the FILTERS list! There's no point!

[2020-05-17 12:35] SchrodingersGat opened #23 "Automated PIP upload when tagging a release"
Use the "release" feature of github to tag when a new version is ready. This should then trigger an automated upload to PIP

[2020-05-17 13:13] #18 closed

[2020-05-17 13:30] SchrodingersGat commented on #23
## References

- https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
- https://github.com/adafruit/Adafruit_CircuitPython_AMG88xx/blob/master/.github/workflows/release.yml
- https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow

[2020-05-19 00:19] SchrodingersGat opened #26 "TODO: Code coverage"
As part of unit testing, measure code coverage and add a fancy badge

[2020-05-19 09:59] #26 closed

[2020-07-07 23:33] eeintech opened #31 "[How-To] Delete inactive part permanently"
Hey there,

I'm not able to delete a part permanently using the inventree module, here's my shell log:
[code]

Do you know why the `DELETE` method is not allowed on inactive parts?
Username and password are my superuser/admin credentials.

[2020-07-08 05:58] SchrodingersGat commented on #31
DELETE was explicitly disallowed to prevent parts being deleted. But now there is the concept of "inactive" parts being deleted. It would be a good idea to add the DELETE endpoint back in, but throw an error if the part is actually active (and *not* delete it in this case).

This would mean a chance is required to the main inventree code base

[2020-07-08 16:41] eeintech commented on #31
@SchrodingersGat Ok I dug inside the API implementation to try to allow, this see pull request: https://github.com/inventree/InvenTree/pull/883

[2020-07-08 16:56] eeintech commented on #31
Also FYI, to change the `active` state of a part, it seems like this does **not** work:
[code]
But this code works:
[code]

[2020-07-10 12:47] #31 closed

[2020-07-13 01:23] eeintech commented on #22
@SchrodingersGat I am curious, what was the purpose of these filters?

[2020-07-13 01:27] SchrodingersGat commented on #22
Honestly I'm not really sure what past-me was thinking. Artificially setting these filters means that you have to update inventree-python filters whenever the core InvenTree API changes. It would be much cleaner to just remove them.

I *think* that it was to ensure that other import keywords don't get mistaken as API filters.

[2020-07-13 01:36] eeintech commented on #22
I see. It shouldn't be much work to remove them, I may get the chance to do it this week.

[2020-08-30 17:55] rco3 opened #36 "Add StockItem through API fails:null value in column part_id"
I have successfully created new Parts via API.

I cannot create new StockItems via API.

Tried via command-line Python code, tried via /api-doc/.  In both cases, new StockItem fails to be created (apparently) because  there is no Part being referenced:

[code]
Here I have referenced a valid Part (pk=25), but that reference does not appear to be passed along to create the new StockItem.  There is n

[2020-08-30 18:01] rco3 opened #37 "Adding new Part or StockItem via API requires placeholder 'pk'"
When creating a new Part or StockItem via api call, the process fails unless a placeholder value is given for 'pk'.  Apparently, something downstream insists upon removing this 'pk', and gets upset if it isn't there to be removed.

[code]

Instance Name | foo
-- | --
   InvenTree Version | 0.1.3 pre
   Django Version | 3.0.7
   Commit Hash | 2c1d585f
   Commit Date | 2020-08-27

[2020-08-30 21:41] eeintech commented on #22
@SchrodingersGat Should we close this issue?

[2020-08-30 22:02] eeintech commented on #36
@rco3 Have you tried `'part'` instead of `'part_id'`?

The base part id does seem to be missing the API parameters list.

[2020-08-30 22:03] eeintech commented on #37
@rco3 How are you creating Part items? Can you show what error you're getting?

[2020-08-30 22:15] rco3 commented on #36
I have.  I have tried as both part, part-id, part_id... open to suggestion.

As the behavior is common to the /api-doc/ interface and the python wrapper for same, I'm thinking this has nothing to do with Inventree-Python.

[2020-08-30 22:37] rco3 commented on #37
From command line or called from script:

[code]

In either the case of Part creation or StockItem creation, the absence of a field and value for 'pk' in the newly created object throws the above error.  If I place a line : 'pk': 999, then I do not get the error and object creation proceeds as expected, and the new object has a new 'pk' value (not 999) assigned.  StockItem creation fails for reaso

[2020-08-30 22:43] SchrodingersGat commented on #22
Yep, thanks!

[2020-08-30 22:43] #22 closed

[2020-08-30 22:45] SchrodingersGat commented on #37
Looks like your `inventree-python` version is super out of date! Update to the latest version and it should be all good

`pip install --upgrade inventree`

[2020-08-30 23:56] rco3 commented on #37
Hm.  Interesting.  That does seem to have resolved it.  I had just installed inventree via pip within the last couple of days, I swear.

Glad it was that easy.

[2020-08-31 01:24] SchrodingersGat commented on #36
Is this fixed now that you have updated the inventree-python library?

[2020-08-31 01:30] #37 closed

[2020-08-31 01:44] rco3 commented on #36
I regret that it is not.

You correctly surmised that it was the cause of the 'pk' issue, but it did not solve this issue.  I opened this in Inventree-Python because that was where I found it, but now that I see that I have the same failure when attempting to add a StockItem through the /api-doc/ interface that would appear not to be the case.
<img width="977" alt="image" src="https://user-images.

[2020-08-31 10:11] SchrodingersGat commented on #36
Ah, found the problem. Some of the fields were set to `read_only` (in a different part of the API). And they were not being tested by the unit testing framework! Once that's merged it should be good to go.

[2020-08-31 10:12] SchrodingersGat commented on #36
Awesome! I didn't know if anyone else would manage to find it useful, but I'm glad you are! Do you have any examples of how you are using it? :)

[2020-08-31 10:13] #36 closed

[2020-08-31 11:41] rco3 commented on #36
Ah, you found it!  I am so relieved - easy problem, and this time it wasn't me.

Yes, I have a sample of code suitable for a Dymo LabelWriter 450 using 4" x 2.25" (I think) labels.  And some quick start tips for others starting to develop these labels from scratch as I did,  tips on using other size labels, etc.  blabel assumes the use of separate .css which I don't see as necessary here, but the

[2020-09-28 17:29] rco3 opened #38 "search terms in Company.list() do nothing"
MFGs=Company.list(api, is_manufacturer=True)
When trying to retrieve a list of Manufacturers, the use of the is_manufacturer parameter does nothing.  All companies are returned regardless of the value passed for this parameter: True, False, 1, 0, doesn't matter.  Nor does is_supplier, etc. work.

What am I missing?

[2020-09-28 18:25] eeintech commented on #38
@rco3 Weird, it works for me I just checked. Are you on the latest commit or on the latest PyPI release?

[2020-09-28 18:36] eeintech commented on #38
Ok so last PyPI version has same issue for `is_manufacturer` but `is_supplier` works fine in my testing.
Maybe it's time for a new release :smiley:

@rco3 If you are using the last PyPI release then I think this should be fixed going with a clone of the repo instead

[2020-09-28 21:35] SchrodingersGat commented on #38
I've bumped the version number and uploaded a new version to PIP. This should fix the filtering issues as they've been fixed in "latest" version for a while.

`pip install inventree --upgrade`

[2020-09-28 21:37] #38 closed

[2020-09-28 21:49] rco3 commented on #38
Oliver, that nailed it.  I had already tried updating inventree through pip - I've been caught in that trap once already - but I was up-to-date already.  With your new push to PIP, problem solved.  THANK YOU.

[2020-09-28 23:41] rco3 commented on #38
I did try updating PyPI as you suggested, thank you @eeintech, but that didn't get me there.  I hadn't yet gotten to the point of installing inventree-python from repo instead of from pip when @SchrodingersGat obviated the need. Thanks for helping figure this out.

[2020-12-05 00:04] nwns opened #42 "pypi.org project description has a broken link"
The link to the InvenTree documentation on https://pypi.org/project/inventree/ is broken.

[2020-12-05 09:47] SchrodingersGat commented on #42
Thanks for letting me know! This has been fixed now.

[2020-12-05 09:47] #42 closed

[2020-12-21 20:38] elmo2k3 opened #44 "Get StockItem label"
Hey!
It would be really great if the StockItem labels could be downloaded by api.

Cheers
Bjoern

[2021-01-05 14:27] eeintech commented on #44
As far as I can see, `StockItemLabel` data is not made available through the DRF, so this should have its own issue on the main InvenTree repo. Thoughts @SchrodingersGat ?

[2021-01-06 09:45] SchrodingersGat commented on #44
Hi @elmo2k3 an interesting question. The label interface needs a *lot* of work, it is still very much in its infancy. Allowing access via the API would be a good idea.

How are you currently making use of the label generation functionality?

[2021-01-06 09:59] elmo2k3 commented on #44
I have added a stock item label template using the admin interface and I am using a simple css file to customize the label size (dirtily static called with LabelWriter). For printing I have an old, repaired, cab a2+.

[2021-01-07 19:29] lookme2 opened #45 "Part location"
I am  using `Part.list(api, search=<search string>)`  to retrieve a part number from invenTree.  What I can't seem to get back in the location of that part which is human readable.  Is there some other way of doing this?

[2021-01-07 21:20] SchrodingersGat commented on #45
The `Part` API does not return any location information, because the **Part** objects are not the same as **Stock** objects.

Stock items are concrete instances of Parts, and these have associated locations.

You will need to use the `Stock` API to get this data.

For example, if the Part ID is 100:

GET `/api/stock/?part=100`

will return all stock items for part 100

You can also include verbose

[2021-01-07 21:22] SchrodingersGat commented on #45
In terms of the Python API, if you already have a Part object, you could call:

`Part.getStockItems()`

https://github.com/inventree/inventree-python/blob/53a101fbd4853c6a06b53fa13e5f134c1c126f63/inventree/part.py#L74

[2021-01-07 21:49] lookme2 commented on #45
Using `Part.getStockItems()` returns a list of stock locations as in an integer.  I was looking for the human readable version of it.  So I can get 'location=484' but I would like that to say 'location=D9 04'.  Or what ever I have my location labeled.

[2021-01-08 10:46] SchrodingersGat commented on #45
Ok I see what you mean.

One way to get around this is to take the integer key for the stock location (let's say the location ID is `123`) and do the following:

[code]

Also refer to https://github.com/inventree/inventree-python/pull/46 which adds the function `getStockLocation()` to the StockItem class so you can directly access the location object if you already have the stock item.

[2021-01-08 11:06] #45 closed

[2021-01-08 11:07] SchrodingersGat commented on #45
Please let me know if this has adequately addressed your issue :)

[2021-01-08 15:29] lookme2 commented on #45
This worked.  Thanks!

[2021-01-09 11:13] SchrodingersGat commented on #44
Check out https://github.com/inventree/InvenTree/pull/1212

This allows printing of labels (to PDF) via the API, like:

`/api/label/stock/20/print/?items[]=10&items[]=20`

[2021-01-10 21:56] lookme2 opened #48 "Crashes if Server is not Available"
So I have been working on a small project at work using the python api.  When the server is not available the program crashes.  It looks like when the test_server is called it either returns a True/False but back in _init_ it is never checked.

Question is am I looking at this right or should I check to see if the server is there before I call the python api?

[2021-01-11 06:09] SchrodingersGat commented on #48
The `init` function should do something with the result of `testServer()` , you are right.

Throw an exception, maybe?

[2021-01-11 16:27] lookme2 commented on #48
Either that or just return a True/False maybe?

[2021-01-12 22:09] SchrodingersGat commented on #48
the `__init__` function cannot return a value though

[2021-01-13 20:22] lookme2 commented on #48
I look right over that.  You are correct.

[2021-01-14 12:53] SchrodingersGat commented on #44
Once the linked PR is merged, we can start work on expanding the python API library to allow printing of labels to PDF

[2021-01-14 23:43] #48 closed

[2021-03-04 16:56] lookme2 opened #50 "Update Database via inventree-python"
I would like to remove parts from my database via the python module.  I don't see a way of doing that.  Am I missing something?

[2021-03-04 18:05] eeintech commented on #50
@lookme2 Have you tried the following sequence?

[code]

[2021-03-04 21:47] lookme2 commented on #50
@eeintech thanks.  I'll give that a try.

[2021-03-04 21:47] #50 closed

[2021-04-09 03:54] SchrodingersGat opened #52 "Change travis CI to github workflows"

[2021-04-13 10:58] SchrodingersGat opened #53 "Add support for ManufacturerPart model"
https://github.com/inventree/InvenTree/pull/1417

[2021-04-13 15:09] eeintech commented on #53
@SchrodingersGat You can assign it to me if you want. I should have time this week along with the doc.

[2021-04-13 15:11] eeintech commented on #53
Note that creating SupplierPart, automatically creates a ManufacturerPart so support is for direct management of ManufacturerPart objects.

[2021-04-14 15:24] eeintech commented on #53
@SchrodingersGat Done!

[2021-04-15 06:55] #53 closed

[2021-04-16 10:41] SchrodingersGat commented on #52
Fixed

[2021-04-16 10:41] #52 closed

[2021-04-16 11:27] SchrodingersGat commented on #23
Implemented now

[2021-04-16 11:27] #23 closed

[2021-04-22 07:27] SchrodingersGat opened #60 "Improve Barcode Integrations"
Add pythonic way for the API to add barcode data to a stock item

[2021-06-26 15:16] #13 closed

[2021-07-12 15:00] eeintech opened #66 "Wrapper class and command line functions"
@SchrodingersGat @matmair This is an idea that sparked into my head following the conversation here: https://github.com/inventree/InvenTree/issues/1421

What do you think of a wrapper/master class that can handle all underlying API functions to create a simpler experience using the API? Obviously it would handle errors, checks, permissions, etc.

I'm think something similar to what I did for Ki-nT

[2021-07-14 23:59] SchrodingersGat opened #67 "Improve support for OPTIONS endpoints"
Should be able to use the fancy new OPTIONS endpoints to completely introspect the available fields for any given model class.

Ref: https://github.com/inventree/InvenTree/pull/1716

[2021-07-16 08:39] stijnloeys opened #68 "Getting Name of Part (parameter)"
Hey, I might be overlooking something, but is there a way to retrieve the part name or part parameter name as a string in the python interface? I only seem to find a way to get the primary key.

Kind regards

[2021-07-16 08:40] #68 closed

[2021-07-19 09:39] StijnLoeys1999 opened #70 "Get all parts/categories/part parameters"
Hey all,

Is there a way to get all parts or categories or parameters with a command?

I can't seem to find a way.

Kind regards

[2021-07-19 10:07] SchrodingersGat commented on #70
[code]

[2021-07-19 10:07] SchrodingersGat commented on #70
https://inventree.readthedocs.io/en/latest/extend/python/#querying-listing-items

[2021-07-19 13:47] StijnLoeys1999 commented on #70
Thanks!!

[2021-07-19 13:47] #70 closed

[2021-07-22 21:06] eeintech commented on #66
Never mind, don't think this is a desired approach

[2021-07-22 21:06] #66 closed

[2021-07-22 21:54] matmair commented on #66
@eeintech I would like the idea but seems a bit difficult, have you thought about how to implement it?

[2021-07-23 07:21] StijnLoeys1999 opened #72 "Saving pdf results on pc via python"
Hey all,

Sorry for the many questions over these last few weeks, they've been really helpfull!

Is there a way to save pdfs via the python interface? I have found that you can access the attachments via the getAttachments() method, but i find no way to really "save" them on my pc.

Kind regards

[2021-07-23 11:30] eeintech commented on #66
@matmair take a look at #71 but you are right I'm abandoning this endeavor because it does not benefit integration with 3rd party apps. Command-line controls can be nice but don't think anybody will find them useful in the end, easier to interface with JSON or InvenTree objects directly.

[2021-07-23 12:17] StijnLoeys1999 commented on #72
I think I found a way of accessing the url link via the API provided.
The problem however is that i can't download the file to my computer via python because I have to re-login then (but can't).
It does however work if i just copy and past the link. But the file itself won't open on my computer
(example: 'https://ivt.arcsec.space/media/stock_files/306/Granta2020-installation.pdf' works as link for

[2021-07-23 15:44] matmair commented on #66
@eeintech nice implementation. You are probably right about low usage.

[2021-07-23 15:48] eeintech commented on #72
@SchrodingersGat Which tool do you use for download?

Try this in your terminal:
[code]

Does it download the file? It works for me using private domain too, as long as I'm on same network obviously :)

[2021-07-23 16:00] eeintech commented on #66
@matmair Thanks, it can be nice to interact with database using command-line too, and I discovered the `click` package which is quite fun to use, I think I'll forget about `argparse` from now on!

My biggest grief is that using API puts the bar quite high for novices, which I was few years back. There is quite a few checks to do before being able to, for instance, add a supplier part:
- does the s

[2021-07-23 16:11] matmair commented on #66
@eeintech I am currently (to be honest I am struggling for like 3 months) building a Fusion 360 plugin and there is so much to consider when interacting with the API / pypi package.
The user base for a CLI would probably be only a few humans but I find it generally hard to assess how many users of this ecosystem there are. But as there is not telemetry or similar we might never know.

[2021-07-23 18:57] eeintech commented on #66
Is it an InvenTree plugin for Fusion360 or opposite? What's your strategy there?

[2021-07-23 21:28] matmair commented on #66
It is kind of both; It can add a part from Fusion360 to InvenTree or safe a InvenTree part-association to a Fusion360 part. Additionally, it can read the structure of all parts in a file and save them into a parts BOM.
But it is not refined and I do not have a stable CI-pipeline for it. With the fast pace the API is developing right now I need that.

[2021-07-24 00:43] SchrodingersGat commented on #66
Coming in late to this one but interested to hear more about your Fusion360 integration @matmair do you have a working example available?

[2021-07-24 00:44] SchrodingersGat commented on #72
Adding native file downloads (for attachments, images, etc) is a good idea. I'll look into this! Currently I don't have a standard way of achieving this integrated into the API

[2021-07-24 22:04] matmair commented on #66
@SchrodingersGat I have a quick and dirty thing running but it is not in a state I would recommend for production use. I have to look when I find time but I will try to clean it up and make it public.

[2021-07-26 00:02] SchrodingersGat commented on #72
@StijnLoeys1999 once https://github.com/inventree/inventree-python/pull/73 is merged, you can download files as follows:

[code]

[2021-07-26 00:13] #72 closed

[2021-07-28 22:07] matmair commented on #66
@SchrodingersGat I got the plugin almost ready, would it be ok to use the InvenTree logo for it in the Autodesk store? I would like to submit it there (free of charge, the code is licensed under MIT) to enable easier installs for users and better discoverability.

[2021-07-28 22:35] SchrodingersGat commented on #66
@matmair yes absolutely happy for you to use the logo. Please submit a PR to the documentation repo, adding a link under the "third party plugins" page :)

[2021-08-09 13:27] stijnloeys opened #77 "Upload Attachments method"
Dear all,

I tried uploading pdfs to stock items with the uploadAttachments method. But this only works for the first item.
When i want to upload more, i get an error code:

Traceback (most recent call last):
  File "C:/Users/Stijn/Documents/InvenTreeTest/dupdfs.py", line 81, in <module>
    uploadpdfs()
  File "C:/Users/Stijn/Documents/InvenTreeTest/dupdfs.py", line 78, in uploadpdfs
    lijstje[

[2021-08-09 18:12] eeintech commented on #77
@stijnloeys There was a problem with checking the response content, once #78 is merged it should be fixed

[2021-08-09 21:57] #77 closed

[2021-08-10 14:59] stijnloeys opened #80 "A way to get the name of the pdf file as a string in python"
Dear all,

Is there a way to get the name of an attachment of a stock item as a string in python?

I tried the .name (as with part and categories) but it does not seem to work.

I also did not find anything in the source code.

Thanks in advance!!

[2021-08-10 22:11] SchrodingersGat commented on #80
The filename is stored under `.attachment`

[2021-08-11 12:33] #80 closed

[2021-10-05 12:11] SchrodingersGat opened #81 "Add support for Stock Item "actions""
- [ ] Stocktake
- [ ] Add stock
- [ ] Remove stock
- [ ] Transfer (move) stock
- [ ] Unit testing
- [ ] Documentation

[2021-10-05 12:11] SchrodingersGat opened #82 "Add support for receiving line items against a purchase order"
- [ ] Unit tests
- [ ] Documentation

[2021-10-05 12:12] SchrodingersGat opened #83 "Add support for allocation stock items against a build order"
- [ ] Unit tests

[2022-04-12 21:36] mvnmgrx opened #87 "Unexpected logging exceptions when using logging module + rotating file handlers"
## Description
Using the API in combination with the logging module + RotatingFileHandler throws exceptions like `TypeError: not all arguments converted during string formatting` and many others as seen below.

Seen on:
- Windows 11 Pro 64-bit version 10.0.22000 Build 22000
- Python 3.10.4
- Inventree API v 0.6.0

## Expected Behavior
No exceptions occur when using the API in combination with the

[2022-04-13 09:32] SchrodingersGat commented on #87
Thanks for raising this issue - it would be great if you could raise a pull request :)

I would prefer the more modern approach of f-strings

[2022-04-15 12:53] mvnmgrx commented on #87
I've created a PR to fix this issue. Let me know if there is something i missed.

[2022-04-15 13:00] #87 closed

[2022-05-05 12:29] SchrodingersGat opened #90 "Add support for more recent API endpoints"
Many database actions have now been migrated to the API:

https://github.com/inventree/InvenTree/issues/2253

Some (many) of these could now be supported directly by the Python bindings:

- [ ] Install stock item
- [ ] Uninstall stock item
- [x] Cancel build order
- [x] Complete build order
- [x] Cancel purchase order
- [x] Complete purchase order
- [x] Issue purchase order
- [x] Cancel sales orde

[2022-05-11 09:35] SchrodingersGat opened #91 "Add support for new models"
- [x] BuildOrderAttachment - https://github.com/inventree/inventree-python/pull/92
- [x] SalesOrderAttachment - https://github.com/inventree/inventree-python/pull/92
- [x] PurchaseOrderAttachment - https://github.com/inventree/inventree-python/pull/92

[2022-05-11 15:56] SchrodingersGat opened #93 "Throw exceptions when server returns unexpected result"
If the server does something "unexpected" we should throw a (custom) exception, rather than just returning None:

- Instance lookup returns 404
- Request returns unexpected status code (e.g. 500)
- Instance creation fails
- etc etc

It would be nice to have some custom exception types to throw here

[2022-05-11 22:58] #91 closed

[2022-05-12 05:16] #93 closed

[2022-05-20 10:50] SchrodingersGat opened #98 "Add support for "metadata" on models"
New feature introduced in https://github.com/inventree/InvenTree/pull/2957

- Add a mixin class to certain models
- Requires minimum API version to access (throw error if lower)
- Edit / retrieve / update metadata for various model types

[2022-05-20 10:52] SchrodingersGat opened #99 "Add support for ManufacturerPartAttachment class"
New model introduced in https://github.com/inventree/InvenTree/pull/2912

[2022-05-20 11:43] #99 closed

[2022-06-13 09:04] miggland opened #110 "Wrong encoding of special characters? (Only in Python module)"
I'm not sure this issue is caused by the Python binding - but it's the only place I have observed it.

This was not the case earlier, but I can not determine what caused the change (*). It may have been an update of InvenTree.

When returning a Company address, any special characters are mumbled, eg:
`KÃ¥ge` expecting Kåge
`HÃ¶xter` expecting Höxter

The problem does not appear if any of the follo

[2022-06-13 09:09] miggland commented on #110
This problem also affects StockLocations - any special characters in the description are displayed in the wrong encoding, unless the title also contains special characters.

[2022-06-13 11:09] SchrodingersGat commented on #110
@miggland can you identify any other fields which exhibit this problem, or just:

- `company.address`
- `stocklocation.description`

[2022-06-13 16:41] miggland commented on #110
I have not searched systematically, but have not noticed the problem elsewhere yet.

[2022-06-14 02:50] SchrodingersGat commented on #110
@miggland I am unable to recreate this problem with a simple test:

![image](https://user-images.githubusercontent.com/10080325/173483018-26ae87d8-711b-483d-a087-e4102212a3af.png)

[code]

[code]

[2022-06-16 09:03] miggland commented on #110
Just now observed the same problem with a purchase order extra line item. I agree it's weird - and it may have to do with how the data was imported, or a database character set? (Ref: https://www.postgresql.org/docs/current/multibyte.html)

[2022-06-16 09:41] SchrodingersGat commented on #110
But you say that the issue only exhibits on the python interface?

- Do you see the error on the same data, but viewed via the web page?
- Do you see the same issue when retrieving data via the REST API?

[2022-06-16 10:03] SchrodingersGat commented on #110
Probably not an issue with the database then. Rather the way python is encoding the result returned from the server.

[2022-06-19 18:50] miggland commented on #110
Currently:
[code]
After update:
[code]

Result of test after update: problem solved, I can't reproduce this any longer.

[2022-06-19 18:50] #110 closed

[2022-06-23 19:08] toastedcrumpets opened #113 "Fix unit tests"
I was working on a 'stock/transfer' endpoint implementation in this library, and I keep running into a strange error where the inventree API reports a field is required, even when its provided.

I tried checking your unit tests to see if you're picking up similar errors, but I notice they're silently failing:
https://github.com/inventree/inventree-python/runs/6958148020?check_suite_focus=true

Sho

[2022-06-23 20:55] matmair commented on #113
Hi there @toastedcrumpets and thank you for your report!
I am not really part of this part of the ecosystem but to me it seems like the assertions are met.
Maybe @eeintech or @SchrodingersGat can make light of the situation.

A transfer function sounds exciting. Eager to see what you come up with. If you want feedback there is always the option to create a draft PR.

[2022-06-23 22:04] toastedcrumpets commented on #113
Ah, my mistake, they are intentional fails but they're being logged to output as well as handled. Thanks for the reply!

[2022-06-23 22:04] #113 closed

[2022-07-11 12:31] #98 closed

[2022-07-12 02:51] #67 closed

[2022-07-25 17:14] miggland commented on #90
I'm working on a PR for at least these:

- [ ] Cancel purchase order
- [ ] Complete purchase order
- [ ] Issue purchase order
- [ ] Cancel sales order
- [ ] Complete sales order
- [ ] Ship sales order

The testing is proving to be a bit finicky, it's hard to know what the status is, especially when running the tests several times consecutively.

[2022-07-25 18:18] matmair commented on #90
@miggland if you have suggestions for better names we are very open for that. The easier to understand the better as a German would say ;-)

[2022-07-26 01:38] SchrodingersGat commented on #90
Try to ensure that each unit test can run "atomically" - i.e. set the state of the items under test to a known state at the start of the test. This way, other tests won't get in the way.

e.g. here : https://github.com/inventree/inventree-python/blob/a5c4fd04c4ee73fee1d60401747d9c2c43ce0680/test/test_part.py#L121

The unit test ensures that the new categories created are unique, by not hard-coding

[2022-07-26 04:29] #81 closed

[2022-07-28 20:29] miggland commented on #90
There's only a few which have different names, as below. Changing these would make things more consistent. But, it would also break things..

|Action | Current API name | Suggestion|
|---------|----------|----------------|
Cancel build order | cancel |
Complete build order | finish | complete
Complete build output | complete | complete-output
Cancel purchase order | cancel
Complete purchase order

[2022-07-28 23:54] matmair commented on #90
@miggland great suggestions here. The collisions are hard to solve - would need to be a major release for sure.
@SchrodingersGat would you be interested in a renaming initiative or would you prefer to do other stuff first? I know we are spread thin.

[2022-07-29 04:19] SchrodingersGat commented on #90
@miggland I'd rather not rename any API endpoints, as this will break existing code. We can improve the documentation around the functionality, but I think we are stuck with them.

Note that you can call the python functions something more sensible, and just point to the poorly-named endpoints

[2022-07-29 13:32] miggland commented on #90
Currently, I have added aliases, eg so that 'finish' and 'complete' on a build-order does the same thing. Once I get around to it I'll have another go at the tests (as you suggest, I'll have to make them atomic - just that requires adding an order, parts, assigning, shipping, and then completing the order..

[2022-07-29 18:26] Slan85 opened #126 "Error: method __getattr__ of object class does not exist"
Hello,
File inventree/base.py makes a call to super().__getattr__(), which does not exist (on line 248 on current commit 3319518).
I guess this line should be replaced with `return super().__getattribute__(name)`

[2022-07-29 19:59] miggland commented on #126
That error often appears if you're trying to access an attribute which doesn't exist. Can you show some code which gives you the error?

[2022-07-30 00:41] SchrodingersGat commented on #126
@Slan85 thanks for reporting. Bug fix on the way!

[2022-07-30 03:23] SchrodingersGat opened #129 "Add support for BulkDeleteMixin"
https://github.com/inventree/InvenTree/blob/703731ec4d60f39864379ff89c0c90e23d9cb837/InvenTree/InvenTree/api.py#L59

Some models support bulk deletion, which provides two main advantages:

- Atomicity of bulk delete
- O(1) rather than O(n)

We should add a mixin class for the python bindings:

- Only for models which support this on the backend
- Throw error if server API version is too old

[2022-07-30 07:41] #129 closed

[2022-07-30 10:09] Slan85 commented on #126
Thanks for fixing this, that was fast.

I was trying to import a Partkeepr database into inventry, using https://github.com/rgilham/PK2InvenTree
On startup, PK2Inventree is trying to delete all parts from InvenTree database, and print a message for each parts, When the database is empty (fresh install), it tries to print a part without name, which triggered the error.

There's probably some things

[2022-08-01 16:41] eeintech opened #131 "`Part.get_category_parameter_templates` fails to return parameters"
Step to reproduce:
1. Add category parameters through InvenTree UI (Settings > Categories)
2. Navigate to `<inventree-url>/api/part/category/<category-id>/parameters/`
3. There should be a list of parameters associated to category, currently they are missing

The `fetch_parent` option should also be tested when fixed.

[2022-08-01 23:54] SchrodingersGat commented on #131
@eeintech the URL format is wrong. It should be something like:

[code]

[2022-08-02 00:27] #131 closed

[2022-08-02 00:30] SchrodingersGat commented on #131
@eeintech fixed, and `0.8.1` is now available via pypi

[2022-08-02 14:19] eeintech commented on #131
@SchrodingersGat Lightning fast fix! Amazing! Thanks a lot :smiley:

[2022-08-02 15:12] eeintech opened #134 "SKU: "Not a valid string""
There is apparently a "string checker" that was added to check part numbers and it rejects hyphens/dashes.
This is not acceptable as A LOT of part numbers and SKUs use this symbol.

Here's the SKU tested: `1292-1630-1-ND`

And the traceback:
[code]

EDIT: This is related to the API, this is not a limitation in InvenTree.

[2022-08-05 18:03] eeintech commented on #134
By lack of time to investigate, I didn't notice the brackets around the string, duh! My own fault, everything is fine on the API side :smile:

[2022-08-05 18:03] #134 closed

[2022-08-11 23:20] axibo-reiner opened #137 "Add support to edit part base properties"
Edit the base properties of a part, such as minimum-stock.

[2022-08-12 01:56] SchrodingersGat commented on #137
@axibo-reiner this is all achievable right now. I realize there are no examples in the documentation about this. I'll add the following example which you can use for now as a starting point:

[code]

[2022-08-12 01:56] #137 closed

[2022-08-12 02:00] SchrodingersGat commented on #137
Ref: https://github.com/inventree/inventree-docs/pull/355

[2022-09-10 02:01] #44 closed

[2022-10-19 14:47] martonmiklos opened #143 "Filtering PartCategory list does not work"
Hello folks,

I am running InvenTree stable.
I have tried to serch for a category with:
`identical = PartCategory.list(api, name='Arena cikkek')`
And it returns an unfilteted list:
[code]
The name parameter seems to be going out in the request parameter:
`[19/Oct/2022 14:43:58] "GET /api/part/category/?pk=1 HTTP/1.1" 200 732`

With the InvenTree's built in API tester I can filter according to my d

[2022-10-20 04:56] SchrodingersGat commented on #143
@martonmiklos something strange going on here.

Firstly, the `PartCategory` API endpoint does not let you filter by category name. You could search for the category using `search='Arena cikkek' though.

What version of `inventree-python` library are you running? I ran a test on `0.8.3` (with latest master inventree server):

[code]

output:

[code]

And the server logs:

[code]

So, note that the

[2022-10-24 14:11] martonmiklos commented on #143
@SchrodingersGat
Many thanks for your response!

Is it intentional? I think searching category by name is a valid demand in the case if someone tries to create migration tools.
If not intentional I can look into fixing this, however if you can pinpoint where should I look that would be awesome.

Yeah it helped me, however it search in a wildcarded way (searching for 'Cable' list 'Cable assemblies'

[2022-10-24 22:32] SchrodingersGat commented on #143
You can create a PR over on the [inventree source](https://github.com/inventree/inventree).

You will need to add 'name' the 'filterset_fields' list:

https://github.com/inventree/InvenTree/blob/b9de7e548849bcb75cb6e4871f14ae3c49f082a9/InvenTree/part/api.py#L155

[2022-10-26 07:44] #90 closed

[2022-10-26 07:53] #60 closed

[2022-10-26 07:54] #143 closed

[2022-10-28 22:06] martonmiklos opened #146 "Filtering to null values"
I have added the parent_id for the filtering fields in the InvenTree #3876, however I do not know how to filter the categories without parent.

If I do a
`>>> cats = PartCategory.list(api, parent_id='')`
It ends up in a request:
`[28/Oct/2022 22:01:54] "GET /api/part/category/?parent_id= HTTP/1.1" 200 470422
`
but it sends back all categories.

Is there any trick what I am missing?

[2022-10-28 22:38] SchrodingersGat commented on #146
Use the `parent` field (not `parent_id`), and specify "None"  or "null"

![image](https://user-images.githubusercontent.com/10080325/198746175-beefccdc-e865-430c-bf7d-106a475d1316.png)

[2022-10-28 22:38] #146 closed

[2022-10-29 13:00] martonmiklos commented on #146
I apologize for being blind. I think I will improve the docs with this.

[2022-11-10 23:39] lucassimon opened #149 "How to get a part"
Hello, I am trying to run the code below to get a single part and their stock number. But unsuccessful. I receive a list of parts. How can I do it?

[code]

[2022-11-10 23:46] SchrodingersGat commented on #149
[code]

returns
[code]

[2022-11-11 00:07] lucassimon commented on #149
In this way I need to interable in this for loop and count each stock item.  But I was thinking more like this:

[code]

And in the base.py

[code]

[2022-11-11 07:22] miggland commented on #149
[code]

Output:
[code]

[2022-11-11 11:42] #149 closed

[2022-11-11 16:14] matmair commented on #149
@miggland thank for your help!

[2022-11-11 23:01] lucassimon commented on #149
What's the difference between the fields `in stock` and `unallocated stock`?

[2022-11-11 23:22] matmair commented on #149
@lucassimon in_stock is the number of stock items that are available; unallocated is the number of stock items that are not allocated - maybe read https://docs.inventree.org/en/latest/build/allocate/ to get an overview how allocations work

[2022-11-11 23:22] SchrodingersGat commented on #149
`in stock` is the total quantity of that particular part. `unallocated` means the "available" amount - e.g. you may have "allocated" some stock to a build order or a sales order.

[2022-11-11 23:23] SchrodingersGat commented on #149
https://docs.inventree.org/en/latest/build/allocate/

[2022-11-12 14:24] lucassimon commented on #149
thank you guys for your support